# Core functionality - changes here should be rare!
/src/app.py                   @JomicoH
/src/backend/database.py      @JomicoH
/src/backend/routers/auth.py  @JomicoH

# The frontend will need refactored soon to be more object oriented.
/src/static/   @JomicoH
